---
import { EnvelopeOpenIcon, RssIcon } from "@heroicons/react/24/solid";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="flex gap-8">
    <a aria-label="Email George" href="mailto:george@gsong.dev">
      <EnvelopeOpenIcon />
    </a>

    <a aria-label="George's GitHub" href="https://github.com/gsong">
      <GitHubLogoIcon />
    </a>

    <a aria-label="George's LinkedIn" href="https://www.linkedin.com/in/gsong/">
      <LinkedInLogoIcon />
    </a>

    <a aria-label="Articles Feed" href={new URL("/atom.xml", Astro.site!.href)}>
      <RssIcon />
    </a>
  </div>

  <a aria-label="Return to homepage" href="/"
    >George Song © <span id="current-year">{currentYear}</span></a
  >
</footer>

<script>
  document.getElementById("current-year")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>

<style>
  @reference "@/styles/global.css";

  footer {
    @apply xs:!flex-row-reverse prose-default flex-center mt-12 mb-6 w-full flex-col justify-between gap-[1.25em];
  }

  svg {
    @apply xs:size-6 size-8 transform transition-transform duration-300 hover:scale-125;
  }
</style>
