@import "tailwindcss";
@import "./components.css";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: this is expected */
  themes:
    winter --default,
    night --prefersdark;
}

@layer theme, base, utilities, components, custom;

@theme {
  --breakpoint-xs: 30rem;
}

@layer base {
  :root {
    --mx: 5%;
  }

  html {
    @apply m-0;
  }

  body {
    @apply mx-[var(--mx)] my-[2%] flex flex-col items-center;
  }
}

@layer custom {
  span.icon-link::before {
    content: "#";
    font-size: 0.8em;
    @apply ms-2;
  }

  .expressive-code {
    .gutter {
      @apply xs:!block !hidden;
    }
  }
}

@utility flex-center {
  @apply flex items-center gap-[0.25em];
}

@utility prose-default {
  @apply prose md:prose-lg lg:prose-xl;
}
