---
import { Image } from "astro:assets";

import headshot from "@/assets/gs-headshot.jpg";
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<Layout>
  <header
    class="prose-default my-1 !mb-6 flex items-center justify-center gap-4 sm:my-2"
  >
    <Image
      src={headshot}
      alt=""
      class="!m-0 size-20 rounded-sm rounded-tr-2xl rounded-bl-2xl sm:size-30 sm:rounded-tr-4xl sm:rounded-bl-4xl"
    />
    <h1
      class="!m-0 text-left !text-xl font-semibold sm:!text-2xl md:!text-3xl lg:!text-4xl"
    >
      <div class="flex gap-2">
        <span>👋</span>
        <span>I’m George. I help software teams be more effective.</span>
      </div>
    </h1>
  </header>

  <main class="prose-default w-full">
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}`}>{article.data.title}</a>
            <p class="!m-0 !mt-1 max-w-[65ch] text-[0.8em]/6">
              {article.data.summary}
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
