---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Markdown } from "@astropub/md";

import headshot from "@/assets/gs-headshot.jpg";
import Layout from "@/layouts/Layout.astro";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<Layout>
  <header
    class="prose-default flex-center my-1 !mb-6 justify-center gap-[1em] sm:my-2"
  >
    <Image
      src={headshot}
      alt=""
      width="250"
      class="!m-0 size-20 rounded-sm rounded-tr-2xl rounded-bl-2xl sm:size-30 sm:rounded-tr-4xl sm:rounded-bl-4xl"
    />
    <h1
      class="!m-0 text-left !text-xl font-semibold sm:!text-2xl md:!text-3xl lg:!text-4xl"
    >
      <div class="flex gap-[0.25em]">
        <span>👋</span>
        <span>I’m George. I help software teams be more effective.</span>
      </div>
    </h1>
  </header>

  <main class="prose-default w-full">
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}`}>{article.data.title}</a>
            <p class="!m-0 !mt-1 max-w-[65ch] text-[0.8em]/6">
              <Markdown.Inline of={article.data.summary} />
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
