---
import { Image } from "astro:assets";

import headshot from "@/assets/gs-headshot.jpg";
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<Layout>
  <header>
    <Image src={headshot} alt="" />
    <h1>
      <div class="flex gap-2">
        <span>👋</span>
        <span>I’m George. I help software teams be more effective.</span>
      </div>
    </h1>
  </header>

  <main>
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}`}>{article.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  @reference "@/styles/global.css";

  header {
    @apply prose-default my-1 !mb-6 flex items-center justify-center gap-4 sm:my-2;

    img {
      @apply m-0 size-20 rounded-sm rounded-tr-2xl rounded-bl-2xl sm:size-30 sm:rounded-tr-4xl sm:rounded-bl-4xl;
    }

    h1 {
      @apply m-0 text-left text-xl font-semibold sm:text-4xl;
    }
  }

  main {
    @apply prose-default w-full;
  }
</style>
