---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Markdown } from "@astropub/md";

import headshot from "@/assets/gs-headshot.jpg";
import { ColorSchemeToggle } from "@/components/ColorSchemeToggle";
import Layout from "@/layouts/base/Layout.astro";

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<Layout>
  <header
    class="prose-default my-1 !mb-6 flex items-start justify-center gap-[1em] sm:my-2"
  >
    <div class="avatar">
      <div class="mask mask-squircle xs:w-20 w-15 lg:w-26">
        <Image src={headshot} alt="" width="250" class="!m-0" />
      </div>
    </div>

    <h1
      class="!m-0 text-left !text-xl font-semibold sm:!text-2xl md:!text-3xl lg:!text-4xl"
    >
      <div class="flex gap-[0.25em]">
        <span>👋</span>
        <span>I’m George. I help software teams be more effective.</span>
      </div>
    </h1>

    <ColorSchemeToggle client:only="react" />
  </header>

  <main class="prose-default w-full">
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={`/articles/${article.id}`}>{article.data.title}</a>
            <p class="!m-0 !mt-1 max-w-[65ch] text-[0.8em]/6">
              <Markdown.Inline of={article.data.summary} />
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
