---
import {
  EnvelopeOpenIcon,
  GitHubLogoIcon,
  LinkedInLogoIcon,
} from "@radix-ui/react-icons";

const currentYear = new Date().getFullYear();
---

<footer
  class="prose-default mt-12 mb-6 flex w-full items-center justify-between"
>
  <a aria-label="Return to homepage" href="/"
    >George Song © <span id="current-year">{currentYear}</span></a
  >
  <div class="flex gap-6">
    <a aria-label="Email George" href="mailto:george@gsong.dev">
      <EnvelopeOpenIcon />
    </a>

    <a aria-label="George's GitHub" href="https://github.com/gsong">
      <GitHubLogoIcon />
    </a>

    <a aria-label="George's LinkedIn" href="https://www.linkedin.com/in/gsong/">
      <LinkedInLogoIcon />
    </a>
  </div>
</footer>

<script>
  document.getElementById("current-year")!.textContent = new Date()
    .getFullYear()
    .toString();
</script>

<style>
  @reference "@/styles/global.css";

  svg {
    @apply size-6 transform transition-transform duration-300 hover:scale-125;
  }
</style>
