---
import "@/styles/global.css";

import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>George Song’s Site</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    @apply flex flex-col items-center;
  }
</style>
